root = true

[BackupZCrypt.Application/ValueObjects/ResultOfT.cs]
dotnet_diagnostic.CA1000.severity = none

[*.cs]
dotnet_diagnostic.CA1863.severity = none

[BackupZCrypt.Test/**.cs]
dotnet_diagnostic.CA5394.severity = none